
<html>
	<head>
		<title>Uniodoto Campinas</title>
		 <meta charset="UTF_8">
		<link rel="stylesheet" type="text/css" href="/styles/projeto.css">		
	</head>

	<body>
	
		<div id="topo">
			<br><img src="/images/logo.png">
		</div>

		<div id="menu">
			<ul>
				<input type= "checkbox" id="chec">
				<label for="chec"> 
					<img src="/images/menu.png">
				</label> 
				<nav>
					<ul>
						<li><a href="/">Início</a></li>
						<li><a href="/dentistas">Nossos Dentistas</a></li>
						<li><a href="/consulta">Marque sua consulta</a></li>
						<li><a href="/login">Painel do Funcionário</a></li>
						<li><a href="/sobre">Sobre nós</a></li>
					</ul>
				</nav>
			</ul>
		</div>
		
		<div id="rodape">
			<img src="/images/rodape.png" width="1793" height="140">
		</div>
	</body>
</html>
 
	

